<div (click)="closeWindow()" class="background"></div>
<div class="window" [style.width.rem]="width" [style.height.rem]="height" [style.top]="top" [style.left]="left" [style.right]="right" #window>
  <div class="windowContainer">
    <div class="windowHeader">
      <div class="windowHeaderContainer">
        <div class="windowHeaderTitleContainer">
          <span class="pointerFocus">{{ name }}</span>
        </div>
      </div>
    </div>
    <div class="windowContent scrollable">
      <div class="content">
        <input class="input-text" type="search" placeholder="Search" #search>
        <div class="projectList">
          <div class="project" *ngFor="let project of viewState.projects.Values">{{ project.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
