<div class="window" [style.width.rem]="width" [style.height.rem]="height">
  <div class="windowContainer">
    <div class="windowHeader">
      <div class="windowHeaderContainer">
        <div class="windowHeaderTitleContainer">
          <span class="pointerFocus">{{ name }}</span>
        </div>
      </div>
    </div>
    <div class="windowContent scrollable">
      <div class="content">
        <input type="search" placeholder="Search" #search>
        <div class="projectList">
          <div class="project" *ngFor="let project of viewState.projects.Value">{{ project.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
