@import "../../../../imports";
@import "../window/window.component";

.content {
  //Display Flex With Options
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  //Width or/and Height
  @extend .s100;

  //Paddings
  @extend .pt-4, .px-2, .pb-2;

  //Borders
  border-radius: 0.5rem;
}

input {
  //Background
  @extend .bg-classic-dark, .hd;

  //Paddings
  @extend .py-2, .pl-5, .pr-2;

  //Borders
  @extend .b;

  //Cursor
  @extend .pointer;

  //Width or/and Height
  @extend .w100;
  height: 3.2rem;
}

.projectList {
  //Background
  @extend .bg-classic-dark;

  //Margins
  @extend .mt-4;

  //Borders
  border-radius: 0.5rem;
  @extend .b;

  //Scrolls
  @extend .whiteScroll;
}

.project {
  //Paddings
  @extend .px-5, .py-3;

  //Cursor
  @extend .pointer;

  &:hover {
    //Background
    @extend .bg-classic-dark, .hd;
  }
}
