<div (click)="closeWindow()" class="background"></div>
<div class="window" [style.width.rem]="width" [style.height.rem]="height" [style.top]="top" [style.left]="left" [style.right]="right" #window>
  <div class="windowContainer">
    <div class="windowHeader">
      <div class="windowHeaderContainer">
        <div class="windowHeaderTitleContainer">
          <span class="pointerFocus">{{ name }}</span>
        </div>
      </div>
    </div>
    <div class="windowContent scrollable">
      <div class="content">
        <input #searchRef [(ngModel)]="searchTerm" class="input-text" id="searchInput" placeholder="Search" type="search">
        <div class="projectList">
          <div [keyboardClick]="i" #projectRef (click)="setProject(project)" *ngFor="let project of filteredProjects(); let i = index" [class.active]="project == viewState.project.Value" class="project">{{ project?.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
