@import "../../../../sass/globalFeatures";
.content
{
  //Display Flex With Options
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  //Width Height
  @include maxSpace;

  //Padding
  @extend .pt-2, .px-2, .pb-2;

  //Border
  border-radius: 0.5rem;
}

input
{
  width: 100%;
  height: 3.2rem;

  //Background
  @extend .bg-classicDark, .hd;
  //Padding
  @extend .py-2, .pl-5, .pr-2;
  //Border
  @extend .b;
  //Cursor
  @extend .pointer;
}

.projectList
{
  height: 100%;
  //Background
  @extend .bg-classicDark;
  //Margin
  @extend .mt-4;
  //Border
  border-radius: 0.5rem;
  @extend .b;
  //Scroll
  @extend .whiteScroll;
}

.project
{
  //Padding
  @extend .px-5, .py-3;
  //Cursor
  @extend .pointer;

  &:hover
  {
    //Background
    @extend .bg-classic, .hd;
  }
}
