@import "../../../sass/global";

:host {
  @extend .pa-3, .bb;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.grid {
  display: block;
  flex-wrap: wrap;
  width: 50%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}
