<div class="ml-3 my-3 transparentScroll">
  <div class="container">
    <div class="pr-1 w50">
      <button class="bg-classic hd focus detailButton pointer" title="Change Project" (click)="interactionService.openProjectWindow()"> {{ (viewState.project.Value?.name ?? 'Project') }}</button>
    </div>
    <div class="pl-1 w50">
      <button class="bg-classic hd focus detailButton pointer" title="Change Due Date" (click)="interactionService.openDueDateWindow()">{{ (viewState.task.Value?.dueDate | date: 'EEE, MMM d, h:mm a') ?? 'Due Date' }}</button>
    </div>
  </div>
</div>
