@import "../../../imports";

:host {
  @extend .sidebarScroll, .h100;
}

.comment {
  user-select: text;
  @extend .tfs-m-3;
  @include text-sizer(4);
}

pre {
  @extend .m-0;
}

.commentDetails {
  @extend .row;
  justify-content: space-between;

  span {
    @extend .pr-3;
  }

  .Author {
    @extend .pl-3;
  }

  .Date, .Rest {
    @extend .tr-ae-12;
    opacity: 25%;

    &:hover {
      opacity: 100%;
    }
  }
}
