<div class="mt-5 mx-2 pb-4">
  <div *ngFor="let comment of viewState.comments.Values">
    <div class="commentDetails mb-1">
      <span>
        <span class="Author">{{ comment.author }}</span>
        <span class="Date" [title]="comment.createdAt | date:'MM/dd/yyyy, hh:mm:ss a'">{{ comment.createdAt | date: 'EEE, MMM d, h:mm a' }}</span>
      </span>
      <span class="Rest">
        <svg width="20" height="20" viewBox="0 0 32 32" fill="#ABABAB" (click)="showCommentMenu(comment)">
          <path d="M20,13.6c-0,-0.883 -0.717,-1.6 -1.6,-1.6l-4.8,0c-0.883,0 -1.6,0.717 -1.6,1.6l0,4.8c0,0.883 0.717,1.6 1.6,1.6l4.8,0c0.883,0 1.6,-0.717 1.6,-1.6l-0,-4.8Zm12,0c0,-0.883 -0.717,-1.6 -1.6,-1.6l-4.8,0c-0.883,0 -1.6,0.717 -1.6,1.6l0,4.8c0,0.883 0.717,1.6 1.6,1.6l4.8,0c0.883,0 1.6,-0.717 1.6,-1.6l0,-4.8Zm-24,0c-0,-0.883 -0.717,-1.6 -1.6,-1.6l-4.8,0c-0.883,0 -1.6,0.717 -1.6,1.6l-0,4.8c-0,0.883 0.717,1.6 1.6,1.6l4.8,0c0.883,0 1.6,-0.717 1.6,-1.6l-0,-4.8Z" />
          <title>Delete</title>
        </svg>
      </span>
    </div>
    <pre class="text-break comment mb-6 ml-3 mr-2 p-4 bg-classic" [innerHTML]="comment.content | escapeHtml | linkify | orderedListify | listify"></pre>
  </div>
</div>
