@import "../../../../imports";
@import "../window/window.component";

btn-normal {
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}

.sectionInfoContainer {
  justify-content: space-between;
}
