<div class="px-3" [class.opened]="isOpen">
  <div>
    <textarea #textAreaRef (focus)="this.isOpen = true" (keydown)="keyDownDetector($event)" [value]="inputValue" class="bg-classic hl focus p-4 pointer commentBox" id="commentTextArea" placeholder="Add your comment..." title="Add your comment">
    </textarea>
    <div [hidden]="!isOpen">
      <button type="button" class="bg-gray-dark hd focus p-2 my-3 pointer commentButton" (click)="addComment()">
        <span class="text-center">Add your comment...</span>
      </button>
    </div>
  </div>
</div>
