@import "../../../imports";

:host {
  @extend .bt;
}

.commentButton {
  //Display
  @extend .row, .center;

  //Borders
  @extend .b;

  //Width or/and Height
  @extend .w100;

  span {
    @extend .tfs-p-3, .tfw-3;

    line-height: 3.0rem;
    height: 3.2rem;
  }
}

.commentBox {
  //Display
  @extend .row;

  //Width or/and Height
  @extend .w100;

  //Scrolls
  @extend .transparentScroll;

  border: dashed thin $white-30;
  height: 4.7rem;

  &:hover, &:focus {
    border: solid thin $white;
  }

  .opened & {
    height: 14.2rem;
    cursor: text;
  }
}
