@import "../../../../imports";

:host {
  //Transitions
  @extend .tr-w-05;

  //Borders
  @extend .br;

  //Flex
  @extend .column;

  //Spaces
  @extend .h100;

  @extend .panelArea;
  width: 10rem;

  &.isHide {
    width: 1px;

    .workspaceMenuElement {
      @extend .inactiveWorkspace;
    }

    &:hover {
      width: 10rem;

      .workspaceMenuElement {
        &.activeWorkspace {
          @extend .activeWorkspace;
        }
      }
    }
  }

  &:hover {
    svg {
      fill: $white;
    }

    .workspaceMenuElementIcon {
      box-shadow: 0 0 0 .2rem $white-05;
    }
  }
}

.workspaceMenuElement {
  //Flex
  @extend .column, .center;

  //Transitions
  @extend .tr-ae-03;

  //Paddings
  @extend .py-1, .pl-1;

  //Cursors
  @extend .pointer;

  .workspaceMenuElementIcon {
    //Flex
    @extend .row, .center, .b;

    //Transitions
    @extend .tr-ae-04;

    //Text
    @extend .tfw-6;

    color: $black;
    width: (10 * $distance);
    height: (10 * $distance);
    margin: 0.6rem 0;
    border-radius: 1.2rem;

    img {
      border-radius: inherit;
    }
  }

  .workspaceMenuElementText {
    @extend .w100;
    //Text
    @extend .tfs-m-5, .tfw-6, .text-prewrap, .text-center;

    //Cursors
    @extend .pointer;

    height: 2.8rem;
    padding: 0.2rem 0.6rem 0;
  }

  &:hover {
    color: hsl(225, 9%, (82% + 10));

    .workspaceMenuElementIcon {
      box-shadow: 0 0 0 .3rem $white-30;

      &:hover {
        box-shadow: 0 0 0 .4rem $white-60
      }
    }
  }

  @extend .inactiveWorkspace;

  &.active {
    @extend .activeWorkspace;
  }
}

.activeWorkspace {
  border-left: solid $distance $white;
}

.inactiveWorkspace {
  border-left: solid $distance $dark;
}
