<div (click)="closeWindow()" class="background"></div>
<div class="window" [style.top]="top" [style.left]="left" [style.right]="right" #window>
  <logotype (click)="closeWindow()" />
  <div class="windowContainer">
    <div class="windowHeader">
      <div class="windowHeaderContainer">
        <div class="windowHeaderTitleContainer">
          <span class="pointerFocus">{{ name }}</span>
        </div>
      </div>
    </div>
    <div class="windowContent scrollable">
      <div class="content">
        <ng-container [ngSwitch]="currentStep">
          <ng-container *ngSwitchCase="1">
            <div class="text-center">
              <div class="text-break pb-6">
                Just like your life is divided into areas.<br>
                This way you can divide projects into workspaces.<br>
                This will help you stay organized.<br>
                <span title="The limit is your browser's Local Storage limit.">Workspaces are unlimited.</span><br>
                You can create a workspace.<br>
              </div>
              <btn-normal #firstStepButton (click)="showStep(2)" color="orange" text="Create a New Workspace" [keyboardClick]="0" />
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <div class="row mt-2">
              <div class="column s100 mr-2 f-as">
                <div class="pb-2">Name</div>
                <input #workspaceNameInput class="input-text" id="workspaceInput" placeholder="Enter the name of your workspace" type="text" [keyboardClick]="1">
              </div>
              <div class="column ml-2 f-ac">
                <div class="pb-2">Color</div>
                <div class="colorPicker colorPickerAnimation" (click)="openColorPickerWindow()" #colorPicker [keyboardClick]="2"></div>
              </div>
            </div>
            <btn-normal #secondStepButton [disabled]="!buttonIsEnabled" class="mt-5" color="orange" text="Create" (click)="createWorkspace()" [keyboardClick]="14" />
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="windowFooter">
      <div class="windowFooterContainer">
        <div class="windowFooterTitleContainer">
          <span class="pointerFocus"><a href="https://github.com/ArcticLeopard/Freezbe" target="_blank">Freezbe is Free & Open Source</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
