@import "../../../../imports";
@import "../window/window.component";

.window {
  width: 43rem;
  @media (max-width: 430px) {
    width: 37.5rem;
  }
}

.content {
  @extend .pt-4, .px-9, .tfs-m-2, .mb-2;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  @media (max-width: 430px) {
    @include tfs-m(3);
    @include px(5);
  }
}

.windowHeaderTitleContainer {
  @extend .tfs-p-4;
}

.windowHeader {
  height: 6rem;
}

.input-text {
  height: 3.5rem;
}

btn-normal {
  @extend .mb-3;
}

.windowHeaderContainer svg {
  position: absolute;
}
