@import "../../../../imports";

:host {
  //Display
  @extend .column;

  //Width or/and Height
  @extend .h100;

  @extend .panelArea;
  flex: 2 0 31.5rem;
}

.header {
  @extend .infoHeader, .row, .transparentScroll;
}

.list {
  @extend .sidebarScroll, .h100;
  overflow-x: hidden;
}

:host.hidden {
  display: none;
}

.text-header {
  @extend .text-nowrap;
  @include text-sizer(-1);
}
