<div class="header">
  <div class="sectionInfoContainer px-4">
    <btn-close-sidebar class="pr-2"></btn-close-sidebar>
    <div class="tfs-p-2">
      <span class="ml-1 pointerFocus">{{ this.viewState.project.Value?.name }}</span>
    </div>
    <div class="text-gray">{{ this.viewState.tasks.length }} Tasks</div>
    <div>
      <btn-append class="pl-2"></btn-append>
    </div>
  </div>
</div>
<div class="list">
  <ng-container *ngFor="let task of this.viewState.tasks">
    <task-item class="bg-classic-dark hd" [class.active]="task == viewState.task.Value" [model]="task" (modelChange)="viewState.refreshView()"></task-item>
  </ng-container>
</div>
