<div class="header pl-4 pr-4">
  <div class="sectionInfoContainer">
    <btn-close-sidebar class="pr-2" />
    <div class="text-header text-gray">{{ this.viewState.tasks.length }} Tasks</div>
    <div class="text-header">
      <span class="ml-1">{{ viewState.currentViewName.Value | titlecase }}</span>
    </div>
    <div>
      <btn-append (click)="interactionService.openAddTaskWindow()" *ngIf="viewState.currentProjectId.Value" class="pl-2" />
    </div>
  </div>
</div>
<div class="list">
  <ng-container *ngFor="let task of this.viewState.tasks">
    <task-item [class.active]="task == viewState.task.Value" [model]="task" class="bg-classic-dark hd" />
  </ng-container>
</div>
