@import "../../../../imports";

:host {
  //Width or/and Height
  @extend .s100;

  @extend .br;
  display: flex;
  flex-direction: column;
  min-width: 17.7rem;
}

.header {
  @extend .infoHeader;
}

.spaceName {
  @extend .ml-1, .pointerFocus;
}

.redButton {
  color: $red;
  @include activeColor(rgba($red, 0.1), darken($red, 5%));
}

.orangeButton {
  color: $orange;
  @include activeColor(rgba($orange, 0.1), darken($orange, 5%));
}


