<div class="header">
  <div class="ml-3 sectionInfoContainer px-0 transparentScroll tfs-p-2">
    <span (click)="state.workspaceOpen.Toggle()" class="workspaceName" [title]="state.workspaceOpen.Value?'Collapse workspace menu':'Expand workspace menu'">{{ state.workspace.Value?.name }}</span>
  </div>
</div>
<div class="header">
  <btn-big class="redButton hd focus" number="15" text="Priority" (click)="appNavigator.GoToPriority()"></btn-big>
  <btn-big class="orangeButton hd focus" number="2" text="Incoming" (click)="appNavigator.GoToIncoming()"></btn-big>
</div>
<app-active-projects></app-active-projects>

