<div class="header">
  <div class="ml-3 sectionInfoContainer px-0 transparentScroll tfs-p-2">
    <span (click)="viewState.workspaceOpen.Toggle()" class="workspaceName" [title]="viewState.workspaceOpen.Value?'Collapse workspace menu':'Expand workspace menu'">{{ viewState.workspace.Value?.name }}</span>
  </div>
</div>
<div class="header">
  <btn-big (click)="appNavigator.GoToPriority()" [class.active]="viewState.currentViewType.Value == priority" [number]="viewState.priorityTasks.Values.length" class="redButton hd focus" text="Priority"></btn-big>
  <btn-big (click)="appNavigator.GoToIncoming()" [class.active]="viewState.currentViewType.Value == incoming" [number]="viewState.incomingTasks.Values.length" class="orangeButton hd focus" text="Incoming"></btn-big>
</div>
<app-active-projects></app-active-projects>
