@import "../../../../imports";

:host {
  //Width or/and Height
  @extend .s100;

  @extend .br;

  @extend .panelArea;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  @extend .infoHeader, .row;
}

.workspaceName {
  @extend .ml-1, .pointerFocus, .text-nowrap;
}

:host.hidden {
  display: none;
}
