@import "../../../../imports";

:host {
  //Width or/and Height
  @extend .s100;

  @extend .br;

  @extend .panelArea;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  @extend .infoHeader;
}

.workspaceName {
  @extend .ml-1, .pointerFocus, .text-nowrap;
}

.redButton {
  color: $red;
  @include activeColor(rgba($red, 0.1), darken($red, 5%));
}

.orangeButton {
  color: $orange;
  @include activeColor(rgba($orange, 0.1), darken($orange, 5%));
}


