/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize.css';
@import "sass/global.scss";

html
{
  font-size: 62.5%;
  box-sizing: border-box;
}

body
{
  @include theme('dark');
  display: block;
}

body, html
{
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  cursor: default;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

textarea
{
  resize: none;
}
