/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize.css';
@import "sass/colors.scss";
@import "sass/mixins.scss";
@import "sass/globalFeatures";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $dark;
  color-scheme: dark;
  color: $gray-light;

  button {
    color: $gray-light;
  }
}

body, html {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

textarea {
  resize: none;
}
