/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize.css';
@import "global.scss";


@mixin theme($theme)
{
  @if $theme == 'dark'
  {
    background: $dark-bg;
    color: $dark-text;
    color-scheme: dark;
  } @else
  {
    background: $light-bg;
    color: $light-text;
    color-scheme: light;
  }
}

html
{
  font-size: 62.5%;
  box-sizing: border-box;
}

body
{
  @include theme('dark');
  display: block;
}

body, html
{
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  cursor: default;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}
