<div (click)="closeWindow()" class="background"></div>
<div class="window" [style.width.rem]="width" [style.height.rem]="height" [style.top]="top" [style.left]="left" [style.right]="right" #window>
  <div class="windowContainer">
    <div class="windowHeader">
      <div class="windowHeaderContainer">
        <!--        <btn-close-window />-->
        <div class="windowHeaderTitleContainer">
          <span class="pointerFocus">{{ windowTitle }}</span>
        </div>
      </div>
    </div>
    <div class="windowContent" [class.scrollable]="scrollable">
      <ng-content />
    </div>
    <div class="windowFooter">
      <div class="windowFooterContainer">
        <div class="windowFooterTitleContainer">
          <span class="pointerFocus"><a href="https://github.com/ArcticLeopard/Freezbe" target="_blank">Freezbe is Free & Open Source</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
