@import "../../../sass/globalFeatures";
@import "../windows/window/window.component";
:host {
  @extend .wh100;
}

.table {
  @extend .wh100, .column;
  text-align: center;
}

.tr
{
  @extend .row;
}

.th, .td
{
  @extend .wh100, .py-3;
}

.th {
  color: $gray;
}

.td[day=true] {
  @extend .pointer;

  &:hover {
    color: $white;
    outline: $bs-sot white;
    @extend .text-w9;
    background: black;
  }
}

.td[today=true] {
  color: $fire;
  @extend .text-w9;
}
