@import "../../../imports";
@import "../windows/window/window.component";

:host {
  @extend .s100;
}

.table {
  @extend .s100, .column;
  text-align: center;
}

.tr {
  @extend .row;
}

.th, .td {
  @extend .s100, .py-3;
}

.th {
  color: $gray;
}

.td {
  &.isDay {
    @extend .pointer;

    &:hover {
      @extend .tfw-9;
      color: $white;
      background: $black;
      outline: $bs-sot $white;
    }
  }

  &.isToday {
    color: $fire;
    @extend .tfw-9;
  }
}
