@import "../../../sass/globalFeatures";
@import "../windows/window/window.component";

:host {
  @extend .wh100;
}

.table {
  @extend .wh100, .column;
  text-align: center;
}

.tr {
  @extend .row;
}

.th, .td {
  @extend .wh100, .py-3;
}

.th {
  color: $gray;
}

.td[day=true] {
  @extend .pointer;

  &:hover {
    @extend .text-w9;
    color: $white;
    background: $black;
    outline: $bs-sot $white;
  }
}

.td[today=true] {
  color: $fire;
  @extend .text-w9;
}
