:host {
  width: 43rem;
  position: relative;
  top: 0;
  z-index: -1;

  svg {
    width: 43rem;
    position: absolute;

    @media (max-width: 430px) {
      width: 36rem;
    }
  }

  @media screen and (max-height: 620px) {
    display: none;
  }
}
