@import "../../../sass/globalFeatures";

:host {
  height: 5.5rem;
  display: flex;
  margin-bottom: 0.2rem;
}

.task-container {
  //Width or/and Height
  @extend .wh100;

  @extend .px-4, .bg-classic, .hd, .pointer, .row;
  align-items: center;
  //border: 0.1rem solid rgba(171, 171, 171,0.3);
  //border-radius: 0.5rem;
  position: relative;
}

.task {
  @extend .mx-5, .w100;
}

.task-header {
  @extend .row, .pb-1, .pointerFocus;
}

.task-name {
  flex-shrink: 0;
}

.task-details {
  @extend .row, .pt-1;
}

.detail {
  @extend .tfsm4, .pr-6;
  flex-shrink: 0;

  .text-detail {
    @extend .pl-2;
    @extend .text-gray, .pointerFocus;
  }

  .icon-detail {
    @extend .text-gray;
  }

  &.delay {
    .text-detail, .icon-detail {
      @extend .text-fire;
    }
  }
}

@mixin gradient($color) {
  background: linear-gradient(90deg, rgba(red($color), green($color), blue($color), 0) 0%, rgba(red($color), green($color), blue($color), 1) 50%);
}

.shadow {
  position: absolute;
  @include gradient($classicDark);
  bottom: 0;
  right: 0;
  top: 0;
  width: 10rem;
  z-index: 1;
}
