@import "../../../imports";

:host {
  @extend .bg-classic-dark, .shadow-classic-dark;
  @extend .tr-ae-04;
  height: 5.3rem;
  display: flex;
  margin: 0.2rem 0 0.2rem 0.2rem;

  &:hover {
    background: lighten($dark, 4%);
  }

  &.active {
    @include shadow($classic);
    background: $classic;
  }
}

.task-container {
  //Width or/and Height
  @extend .s100;

  @extend .px-4, .pointer, .row, .bb;
  align-items: center;
  //border: 0.1rem solid rgba(171, 171, 171,0.3);
  //border-radius: 0.5rem;
  position: relative;
}

.task {
  @extend .mx-5, .w100;
}

.task-header {
  @extend .row, .pb-1, .pointerFocus;
}

.task-name {
  flex-shrink: 0;
}

.task-details {
  @extend .row, .pt-1;
}

.detail {
  @extend .tfs-m-4, .pr-6;
  flex-shrink: 0;

  .text-detail {
    @extend .pl-2;
    @extend .text-gray;
  }

  .icon-detail {
    @extend .text-gray;
  }

  &.delay {
    .text-detail, .icon-detail {
      @extend .text-fire;
    }
  }
}
