#controls
{
  margin-bottom: 20px;
}

.task
{
  height: 64px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: #636363 dashed 1px;
  border-top: none;
}

.task:first-child
{
  border: #636363 dashed 1px;
}

.slideIn
{
  opacity: 0;
  transition: all .25s ease-in;
  transform: translateY(20px);
}

.slideIn.animated{
  opacity: 1;
  transform: translateY(0px);
}
