<div class="sectionInfo">
  <div class="sectionInfoContainer-3">
	  <div class="sectionInfoButtonsContainer">
		  <button class="mr-1">o</button>
	  </div>
	  <div class="sectionInfoTextContainer">
      <span>Task Name</span>
    </div>
    <div class="sectionInfoButtonsContainer">
      <button class="ml-1">o</button>
    </div>
  </div>
</div>
<app-detail-options></app-detail-options>
<div class="scrollWrapper">
  <app-comment-list></app-comment-list>
</div>
<app-comment-box></app-comment-box>
