<div class="sectionInfo">
  <div class="sectionInfoContainer-3">
	  <div class="sectionInfoButtonsContainer">
		   <span>
        <svg width="28" height="28" viewBox="0 0 28 28" style="fill-rule:evenodd;" fill="#ABABAB">
          <path d="M0,25.5l2.778,2.5l15.555,-14l-15.555,-14l-2.778,2.5l12.778,11.5l-12.778,11.5Z"/><rect x="24" y="0" width="4" height="28"/>
              <title>Mark Task As Priority</title>
        </svg>
      </span>
	  </div>
	  <div class="sectionInfoTextContainer">
      <span class="pointerFocus" title="Change Task Name">Task Name</span>
    </div>
    <div class="sectionInfoButtonsContainer">
      <button class="ml-1">o</button>
    </div>
  </div>
</div>
<app-detail-options></app-detail-options>
<div class="scrollWrapper">
  <app-comment-list></app-comment-list>
</div>
<app-comment-box></app-comment-box>
