@import "../../../../imports";

:host {
  //Display
  @extend .column;

  //Borders
  @extend .bl;

  //Width or/and Height
  @extend .h100;

  @extend .panelArea;
  flex: 2 0 31.5rem;
  overflow: hidden;

  .shadow {
    @extend .row, .f-je, .f-ac, .pr-4;
    position: absolute;
    background: linear-gradient(90deg, rgba(red($dark), green($dark), blue($dark), 0) 0%, rgba(red($dark), green($dark), blue($dark), 1) 17%);
    bottom: 0;
    right: 0;
    top: 0;
    width: 14.5rem;
    z-index: 1;
  }
}

:host.hidden {
  display: none;
}

.text-header {
  @extend .text-header-wrap;
  @include text-sizer(-1);
}
