<div class="header pl-4 pr-4">
  <div class="sectionInfoContainer">
    <div class="row f-ac pr-5">
      <btn-close-sidebar class="pr-5" />
      <div class="text-gray pr-2 text-header">{{ getIncompleteTaskCount() }} Tasks</div>
    </div>
    <div>
      <span class="ml-1" [class.pointerFocus]="this.viewState.projectIsEditable" (click)="openWindowEditProject()" [class.cursor-not-allowed]="!this.viewState.projectIsEditable" [title]="this.viewState.projectIsEditable?'Edit a project':''">{{ viewState.currentViewName.Value }}</span>
    </div>
  </div>
  <btn-append (click)="interactionService.openAddTaskWindow()" *ngIf="viewState.currentProjectId.Value" class="shadow" />
</div>
<div class="list">
  <ng-container *ngFor="let task of this.viewState.tasks">
    <task-item [class.active]="task == viewState.task.Value" [model]="task" class="bg-classic-dark hd" />
  </ng-container>
</div>
<div class="bottomSpace"></div>
