
<div class="sectionInfo">
  <div class="sectionInfoContainer">
    <div class="sectionInfoTextContainer">
      <span>Section</span>
    </div>
    <div class="sectionInfoButtonsContainer">
      <button>o</button>
      <button>o</button>
    </div>
  </div>
</div>
<div class="sectionInfo">
  <div class="sectionInfoContainer">
    <div class="sectionInfoTextContainer">
      <span>Section</span>
    </div>
    <div class="sectionInfoButtonsContainer">
      <button>o</button>
      <button>o</button>
    </div>
  </div>
</div>
<div style="display: flex; flex-wrap: wrap; width: 100%" class="options">
  <div style="display: block; flex-wrap: wrap; width: 50%; padding-right: 0.4rem">
    <div>
      <div class="optionButton">Test</div>
      <div class="optionButton">Test</div>
      <div class="optionButton">Test</div>
    </div>
  </div>
  <div style="display: block; flex-wrap: wrap; width: 50%; padding-left: 0.4rem">
    <div>
      <div class="optionButton">Test</div>
      <div class="optionButton">Test</div>
      <div class="optionButton">Test</div>
    </div>
  </div>
</div>


<div class="scrollWrapper">
  <div class="scrollSpace">
    <div class="comment" *ngFor="let index of commentIndexes; let i = index">
      Comment...
    </div>
  </div>
</div>
