<div class="sectionInfo">
  <div class="sectionInfoContainer-3">
    <div class="sectionInfoTextContainer">
      <span>Section</span>
    </div>
    <div class="sectionInfoButtonsContainer">
      <button class="mr-1">o</button>
      <button class="ml-1">o</button>
    </div>
  </div>
</div>
<div class="sectionInfo">
  <div class="sectionInfoContainer-3">
    <div class="sectionInfoTextContainer">
      <span>Section</span>
    </div>
    <div class="sectionInfoButtonsContainer">
      <button class="mr-1">o</button>
      <button class="ml-1">o</button>
    </div>
  </div>
</div>
<div style="display: flex; flex-wrap: wrap; width: 100%" class="options">
  <div style="display: block; flex-wrap: wrap; width: 50%; padding-right: 0.4rem">
    <div>
      <div class="mb-2 bg-classic-hl pointer optionButton">Test</div>
      <div class="mb-2 bg-classic-hl pointer optionButton">Test</div>
      <div class="mb-2 bg-classic-hl pointer optionButton">Test</div>
    </div>
  </div>
  <div style="display: block; flex-wrap: wrap; width: 50%; padding-left: 0.4rem">
    <div>
      <div class="mb-2 bg-classic-hl pointer optionButton">Test</div>
      <div class="mb-2 bg-classic-hl pointer optionButton">Test</div>
      <div class="mb-2 bg-classic-hl pointer optionButton">Test</div>
    </div>
  </div>
</div>
<div class="scrollWrapper">
  <div class="scrollSpace mt-2">
    <!--    <div class="comment" [ngClass]="'bg-' + color" *ngFor="let color of colors;">-->
    <div *ngFor="let color of colors; let i = index">
      <div class="commentDetails mb-2">
        <span class="Author">You</span>
        <span class="Date">{{i+1}} hr. ago</span>
        <span class="Rest"></span>
      </div>
      <div class="comment mb-6 pa-4 bg-classic">Now my girlfriend wants me to paint the room <span [ngClass]="'bg-' + color">{{color}}</span>...</div>
    </div>
  </div>
</div>
<div style="border-top: #171717 solid 0.2rem">
  <textarea class="commentButton bg-classic pa-4 textCursor" STYLE="resize: none" placeholder="Add your comment..."></textarea>
  <button type="button" class="commentButton bg-classic-hl pa-1 pointer">
    <span>Add your comment...</span>
  </button>
</div>
