@import "../../sass/global";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 315px;
  border-left: $border-style;
}

.detailViewMenu {
  height: 5.6rem;
}

.comment {
  user-select: text;
}

.commentDetails
{
  display: flex;
  flex-direction: row;
  span
  {
    @extend .pr-3;
  }
  .Author
  {
    @extend .pl-3;
  }

  .Date
  {
    opacity: 25%;
  }
}



.options {
  @extend .pl-2, .pr-3, .pt-2;
  border-bottom: $border-style;
}

.optionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.9rem;
}

.commentButton
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;

  span
  {
    font-size: 2rem;
    font-weight: 300;
    height: 3.2rem;
  }
}
