<div class="sectionInfo">
  <div class="sectionInfoContainer-3">
    <div class="sectionInfoTextContainer">
      <span>Space #N</span>
    </div>
    <div class="sectionInfoButtonsContainer">
      <button class="mr-1">o</button>
      <button class="ml-1">o</button>
    </div>
  </div>
</div>
<div class="sectionInfo">
  <div class="sectionInfoContainer">
    <div class="pl-3 pointer bigBtn bg-red-hd-o-6">
      <div>
        Priority
      </div>
      <div class="text-details">
        15
      </div>
    </div>
    <div class="pl-3 pointer bigBtn bg-orange-hd-o-6">
      <div>
        Incoming
      </div>
      <div class="text-details">
        2
      </div>
    </div>
  </div>
</div>
<div class="scrollWrapper">
  <div class="scrollSpace">
    <div class="project" *ngFor="let index of projectIndexes; let i = index">
      <div>Project {{index}}</div>
    </div>
  </div>
</div>

