<div class="sectionInfo">
  <div class="sectionInfoContainer-3">
    <div class="sectionInfoTextContainer">
      <span class="ml-1 pointer">Space 1</span><!--   TODO Rozwijanie menu na klikniecie   -->
    </div>
    <div class="sectionInfoButtonsContainer">
      <button class="mr-1">o</button>
      <button class="ml-1">o</button>
    </div>
  </div>
</div>
<div class="sectionInfo">
  <div class="sectionInfoContainer">
    <div class="pl-3 pointer bigBtn bg-red-hd-o-6">
      <div>
        Priority
      </div>
      <div class="text-details">
        15
      </div>
    </div>
    <div class="pl-3 pointer bigBtn bg-orange-hd-o-6">
      <div>
        Incoming
      </div>
      <div class="text-details">
        2
      </div>
    </div>
  </div>
</div>
<div class="scrollWrapper">
  <div class="">
    <div class="project pointer pr-3 pl-3" *ngFor="let index of projectIndexes; let i = index">
      <div>Project {{index + 1}}</div>
    </div>
  </div>
</div>

