@import "../../sass/global.scss";

:host {
  @include maxSpace;
  display: flex;
  flex-direction: column;
  border-right: $border-style;
}

.project {
  height: 4rem;
}

.project > div {
  display: flex;
}

.bigBtn {
  @include maxSpace;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
