<div class="application">
  <div class="flex-container">
    <div class="sidebar">Sidebar</div>
    <div class="main-content">
      <div class="flex-container">
        <div class="taskView">
          <div class="taskViewMenu">Task View Menu</div>
          <div class="taskList">
            <div class="task" *ngFor="let index of taskIndexes; let i = index">
              Task
            </div>
          </div>
        </div>
        <div class="detailView">
          <div class="options">
            <div class="detailViewMenu">Task View Menu</div>
            <div class="detailViewMenu">
              <div class="flex-container" style="align-items: center; padding-left: 8px">
                <button style="width: 44px; height: 44px">o</button>
                <span style="padding: 8px 8px 8px 8px; font-weight: 600; display: flex; flex: 1">Description</span>
              </div>
            </div>
            <div style="height: 140px">
              <div style="display: flex; flex-wrap: wrap">
                <div style="display: block; flex-wrap: wrap; width: 50%">
                  <div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 10px;">Test</div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 10px;">Test</div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 10px;">Test</div>
                  </div>
                </div>
                <div style="display: block; flex-wrap: wrap; width: 50%">
                  <div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 10px;">Test</div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 10px;">Test</div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 10px;">Test</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="commentView">
            <div class="commentList">
              <div class="comment" *ngFor="let index of commentIndexes; let i = index">
                Comment...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
