<div class="application">
  <div class="flex-container">
    <div class="sidebar" style="display: flex; flex-direction: row;">
      <div class="sidebarEnvironment" style="border-right: 0.05rem solid #2C2C2C;">
        <div class="sidebarEnvironmentContainer" style="display: flex; flex-direction: column; height: 100%; width: 8rem; padding: 0.6rem 0; overflow-y: auto;">
          <div class="environmentList">
            <div class="environment" style="align-items: center; justify-content: center;" *ngFor="let index of environmentIndexes; let i = index">
              <div style="align-items: center; display: flex; flex-direction: column; justify-content: center; padding-bottom: 0.6rem; position: relative; cursor: pointer;">
                <div style="display: flex; flex-direction: column; width: 4.4rem; height: 4.4rem; align-items: center; border-radius: 1.2rem;">
                  <div style="width: 3.4rem; height: 3.4rem; border-radius: 1.2rem;">
                    <img src="https://i.pravatar.cc/34" style="border-radius: inherit;">
                  </div>
                </div>
                <span style="height: 3rem; font-size: 1.1rem; font-weight: 500; padding: 0.2rem 0.6rem 0; text-align: center; color: #ABABAB">Env #{{i}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebarProject" style="width: 100%; border-right: 0.05rem solid #48484A;">
        <div style="display: flex; flex-direction: column; height: 100%;">
          <div style="display: flex;  flex: 0 0 auto; height: 5.6rem; align-items: center; border-bottom: 0.05rem solid #2C2C2C;">
            <div style="padding-left: 2.4rem; padding-right: 1rem; width: 100%; align-items: center; display: flex; flex: 1; justify-content: space-between;">
              <span style="font-size: 1.8rem; font-weight: 600;">Env #N</span>
              <div style="align-items: center; display: flex; justify-content: flex-end;">
                <button style="width: 2.8rem; height: 2.8rem; margin: 0.6rem;">o</button>
                <button style="width: 2.8rem; height: 2.8rem; margin: 0.6rem;">o</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="flex-container">
        <div class="taskView">
          <div class="taskViewMenu">Task View Menu</div>
          <div class="taskList">
            <div class="task" *ngFor="let index of taskIndexes; let i = index">
              Task
            </div>
          </div>
        </div>
        <div class="detailView">
          <div class="options">
            <div class="detailViewMenu">Task View Menu</div>
            <div class="detailViewMenu">
              <div class="flex-container" style="align-items: center; padding-left: 0.8rem">
                <button style="width: 4.4rem; height: 4.4rem">o</button>
                <span style="padding: 0.8rem; font-weight: 600; display: flex; flex: 1">Description</span>
              </div>
            </div>
            <div style="height: 14rem">
              <div style="display: flex; flex-wrap: wrap">
                <div style="display: block; flex-wrap: wrap; width: 50%">
                  <div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 1rem;">Test</div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 1rem;">Test</div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 1rem;">Test</div>
                  </div>
                </div>
                <div style="display: block; flex-wrap: wrap; width: 50%">
                  <div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 1rem;">Test</div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 1rem;">Test</div>
                    <div style="display: flex; height: 3.6rem; margin-bottom: 0.8rem;border-radius: 1rem;">Test</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="commentView">
            <div class="commentList">
              <div class="comment" *ngFor="let index of commentIndexes; let i = index">
                Comment...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
