<div class="header">
  <div class="ml-3 sectionInfoContainer px-0 transparentScroll tfs-p-1">
    <btn-close-workspace />
    <span class="workspaceName" (click)="openWindowEditWorkspace()" title="Edit a workspace">{{ viewState.workspace.Value?.name }}</span>
  </div>
</div>
<div class="header">
  <btn-big (click)="onClickPriority()" [class.active]="viewState.currentViewType.Value == priority" [number]="viewState.priorityTasks.Values.length" text="Priority" color="red" />
  <btn-big (click)="onClickIncoming()" [class.active]="viewState.currentViewType.Value == incoming" [number]="viewState.incomingTasks.Values.length" text="Incoming" color="orange" />
</div>
<section-header />
<active-projects />
<div class="bottomSpace"></div>
