.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.f-js {
  justify-content: flex-start;
}

.f-je {
  justify-content: flex-end;
}

.f-jsb {
  justify-content: space-between;
}

.f-as {
  align-items: flex-start;
}

.f-ae {
  align-items: flex-end;
}

.f-ac {
  align-items: center;
}
