@import "variables.scss";

/*#region Margins*/
@for $index from 0 through $range {
  .mt-#{$index} {
    margin-top: $distance * $index;
  }
}

@for $index from 0 through $range {
  .mb-#{$index} {
    margin-bottom: $distance * $index;
  }
}

@for $index from 0 through $range {
  .ml-#{$index} {
    margin-left: $distance * $index;
  }
}

@for $index from 0 through $range {
  .mr-#{$index} {
    margin-right: $distance * $index;
  }
}

@for $index from 0 through $range {
  .mx-#{$index} {
    margin-left: $distance * $index;
    margin-right: $distance * $index;
  }
}

@for $index from 0 through $range {
  .my-#{$index} {
    margin-top: $distance * $index;
    margin-bottom: $distance * $index;
  }
}

@for $index from 0 through $range {
  .m-#{$index} {
    margin: $distance * $index;
  }
}

/*#endregion Margins*/
