@import "colors.scss";
@import "variables.scss";

@mixin focusDarken($currentColor) {
  background-color: darken($currentColor, 20%);
}

@mixin focusLighten($currentColor) {
  background-color: lighten($currentColor, 20%)
}

@mixin focusBigButton($borderColor) {
  &.active {
    @extend .tr-ae-02;
    box-shadow: inset 0 0 1px 1px $borderColor;
  }
}

@mixin activeColor($currentColor, $borderColor: $white) {
  background-color: $currentColor;

  &.hd {
    @extend .tr-ae-05;

    &:hover, &:focus {
      background-color: darken($currentColor, 10%);

      &.focus {
        box-shadow: inset 0 0 1px 1px $borderColor;
      }
    }

    &:active {
      color: $borderColor;

      &.focus {
        @extend .tr-ae-02;
        box-shadow: inset 0 0 2px 2px $borderColor;
      }
    }

    &.active {
      background-color: darken($currentColor, 20%);
    }
  }

  &.hl {
    @extend .tr-ae-05;

    &:hover, &:focus {
      background-color: lighten($currentColor, 10%);

      &.focus {
        box-shadow: inset 0 0 1px 1px $borderColor;
      }
    }

    &:active {
      color: $borderColor;

      &.focus {
        @extend .tr-ae-02;
        box-shadow: inset 0 0 2px 2px $borderColor;
      }
    }

    &.active {
      @include focusLighten($currentColor);
    }
  }
}

@mixin blankButton($currentColor, $borderColor: $white) {
  background-color: $currentColor;
  color: $borderColor;
  border: none;
  outline: none;
  box-shadow: none;
  &:hover, &:focus, &:active {
    background-color: $currentColor;
    color: $borderColor;
    border: none;
    outline: none;
    box-shadow: none;
  }
}

@mixin activeButtonDarken($currentColor, $borderColor: $white) {
  background-color: $currentColor;

  @extend .tr-ae-05;

  &:hover, &:focus {
    background-color: darken($currentColor, 10%);
  }

  &:active {
    color: $borderColor;
  }

  &.active {
    background-color: darken($currentColor, 20%);
  }
}

@mixin activeButtonDarkenFocus($currentColor, $borderColor: $white) {
  background-color: $currentColor;

  @extend .tr-ae-05;

  &:hover, &:focus {
    background-color: darken($currentColor, 10%);
    box-shadow: inset 0 0 1px 1px darken($borderColor, 15%);
  }

  &:active {
    color: $borderColor;
    @extend .tr-ae-02;
    box-shadow: inset 0 0 1px 1px $borderColor;
  }

  &.active {
    @include focusDarken($currentColor);
  }
}

@mixin shadow($color) {
  .shadow {
    @extend .row, .f-je, .f-ac, .pr-4;
    position: absolute;
    background: linear-gradient(90deg, rgba(red($color), green($color), blue($color), 0) 0%, rgba(red($color), green($color), blue($color), 1) 50%);
    bottom: 0;
    right: 0;
    top: 0;
    width: 10rem;
    z-index: 1;
  }
}

@mixin pt($index) {
  padding-top: $distance * $index;
}

@mixin pb($index) {
  padding-bottom: $distance * $index;
}

@mixin pl($index) {
  padding-left: $distance * $index;
}

@mixin pr($index) {
  padding-right: $distance * $index;
}

@mixin px($index) {
  padding-left: $distance * $index;
  padding-right: $distance * $index;
}

@mixin py($index) {
  padding-top: $distance * $index;
  padding-bottom: $distance * $index;
}

@mixin p($index) {
  padding: $distance * $index;
}

@mixin tfs-p($i) {
  font-size: $normal-font-size + ($i * 0.1);
}

@mixin tfs-m($i) {
  font-size: $normal-font-size - ($i * 0.1);
}

@mixin text-sizer($start: 0) {

  @media (max-width: 1090px) {
    @include tfs-m($start + 1);
  }
  @media (max-width: 900px) {
    @include tfs-m($start + 2);
  }
  @media (max-width: 800px) {
    @include tfs-m($start + 3);
  }
}

@mixin border-animation($color1, $color2) {
  @keyframes border-gradient {
    0% {
      border-bottom-color: $color1;
    }
    100% {
      border-bottom-color: $color2;
    }
  }
  animation: border-gradient 1s infinite alternate;
}
