@import "activeColors.scss";
@import "variables.scss";

.sectionInfoContainer {
  @extend .s100;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.infoHeader {
  @extend .bb, .w100;
  flex: 0 0 auto;
  min-height: $headerHeight;
}

.panelArea {
  border-bottom: $classicBorder solid 0.1rem;
}

.activeArea {
  border-bottom: $white-60 solid 0.1rem;
  @include border-animation($white, $black);
}

.resizer {
  @media (max-width: 715px) {
    display: none;
  }
}

.input-text {
  //Background
  @extend .bg-classic-dark, .hd;

  //Paddings
  @extend .py-2, .px-3;

  //Borders
  @extend .b;

  //Cursor
  @extend .pointer;

  //Width or/and Height
  @extend .w100;
  height: 3.2rem;
}

.colorPicker {
  @extend .pointer;
  @extend .b;
  width: (10 * $distance);
  height: (10 * $distance);
  border-radius: 1.2rem;

  &:hover, &:active, &:focus {
    border-color: $white;
    border-width: 0.2rem;
  }
}

.colorPickerAnimation {
  animation: colorChange 10s infinite;
}

@keyframes colorChange {
  0% {
    background-color: #007bff;
  }
  10% {
    background-color: #6610f2;
  }
  20% {
    background-color: #6f42c1;
  }
  30% {
    background-color: #e83e8c;
  }
  40% {
    background-color: #dc3545;
  }
  50% {
    background-color: #fd7e14;
  }
  60% {
    background-color: #ffc107;
  }
  70% {
    background-color: #28a745;
  }
  80% {
    background-color: #20c997;
  }
  90% {
    background-color: #17a2b8;
  }
  100% {
    background-color: #007bff;
  }
}

.bottomSpace {
  height: 1.05rem;
}
