@import "../../../../imports";

:host {
  //Display
  @extend .column;

  //Borders
  @extend .bl;

  //Width or/and Height
  @extend .h100;

  @extend .panelArea;
  flex: 1 0 31.5rem;
  overflow: hidden;
}

.header {
  @extend .infoHeader, .row;
}

.comment {
  user-select: text;
}

.commentDetails {
  @extend .row;

  span {
    @extend .pr-3;
  }

  .Author {
    @extend .pl-3;
  }

  .Date {
    opacity: 25%;
  }
}

.task-name {
  @extend .pointerFocus;
  @extend .tfs-m-3;
  @include text-sizer(4);
  word-break: break-word;
}

:host.hidden {
  display: none;
}
