@import "../../../../imports";

svg:hover path.visible {
  fill: $white;
}

svg:hover {
  &:active path.visible {
    fill: $white-60;
  }
}

svg:hover path.invisible {
  fill: $white-10;
}

svg:hover {
  &:active path.invisible {
    fill: $white-60;
  }
}

path {
  @extend .tr-ae-03;
}

path.invisible {
  fill: $white-00;
}

path.visible {
  fill: $green
}
