@import "../../../sass/global";

:host
{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 2 0 315px;
}

.taskCounter
{
  opacity: 0.5;
}

.task
{
  height: 5.6rem;
  margin-bottom: 0.2rem;
}


.taskDataGrid
{
  @include maxSpace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border: 0.1rem solid rgba(171, 171, 171,0.3);
  //border-radius: 0.5rem;
}

.tmpBtn
{
  width: 2.8rem;
  height: 2.8rem;
  margin-left: 0.5rem;
  margin-right: 1.6rem;
}

