<div class="infoHeader transparentScroll">
  <div class="sectionInfoContainer-4">
    <btn-close-sidebar></btn-close-sidebar>
    <div class="sectionInfoTextContainer">
      <span class="ml-1 pointerFocus">Project Name</span>
    </div>
    <div class="taskCounter">{{ tasks.length }} Tasks</div>
    <btn-placeholder></btn-placeholder>
  </div>
</div>
<div class="scrollWrapper">
  <div [title]="task.name" class="task" *ngFor="let task of tasks; let i = index">
    <app-task [task]="task"></app-task>
  </div>
</div>
