<div class="infoHeader plusHiddenScroll">
  <div class="sectionInfoContainer-4">
    <btn-close-sidebar></btn-close-sidebar>
    <div class="sectionInfoTextContainer">
      <span class="ml-1 pointerFocus">Project Name</span>
    </div>
    <div class="taskCounter">{{ taskIndexes.length }} Tasks</div>
    <btn-placeholder></btn-placeholder>
  </div>
</div>
<div class="scrollWrapper">
  <div title="Task Title" class="task" *ngFor="let index of taskIndexes; let i = index">
    <div class="px-4 bg-classic hd pointer taskDataGrid">
      <span class="mr-5">
        <btn-task-status></btn-task-status>
      </span>
      <div style="padding: 0 1rem; width: 100%; display: flex; flex-direction: column">
        <div>Task #{{ i + 1 }}</div>
        <div class="text-details">Project XYZ</div>
      </div>
      <btn-task-priority></btn-task-priority>
    </div>
  </div>
</div>
