@import "../../../sass/globalFeatures";

:host
{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 2 0 315px;
}

.header
{
  @extend .infoHeader, .transparentScroll;
}

.list
{
  @extend .scrollWrapper;
}
