<ng-template [ngIf]="this.viewState.activeProjectSectionIsOpen.Value">
  <div (click)="onClickProject(project)" *ngFor="let project of viewState.projects.Values" [class.active]="project.id === viewState.currentProjectId.Value" [title]="'Project: '+project.name" class="project">
    <span class="icon">
      <ng-container [ngSwitch]="project.name">
        <icon-cube [fill]="project.color" *ngSwitchDefault />
        <icon-lock *ngSwitchCase="'Single tasks'" />
      </ng-container>
    </span>
    <span class="text">{{ project.name }}</span>
  </div>
</ng-template>
