@import "../../../sass/globalFeatures";

:host {
  @extend .br;
  width: 10rem;
  overflow: hidden;
  //@include hidePanel(0.7rem, 10rem);
}

//1024px
@media (max-width: 592px) {
  :host {
    //@include hidePanel(0.7rem, 10rem);
  }
}

.spaceSidebar {
  //Display
  @extend .column;

  //Scroll
  @extend .sidebarScroll;

  //Padding
  @extend .py-3;

  //Width or/and Height
  @extend .h100;
  width: 8rem;
}

.spaceContainer {
  @extend .column, .center;
  @extend .tr-ae-03;

  .imageContainer {
    @extend .tr-ae-04;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 1.2rem;
    margin: 0.2rem 0;

    img {
      border-radius: inherit;
    }
  }

  .spaceInfoTextContainer {
    @extend .tfs-m-5;
    height: 3rem;
    padding: 0.2rem 0.6rem 0;
    text-align: center;
  }

  &:hover {
    color: hsl(225, 9%, (82% + 10));

    .imageContainer {
      box-shadow: 0rem 0rem 0rem .4rem $white-60;
    }
  }
}


