@import "../../../sass/globalFeatures";

:host {
  @extend .bt;
}

.commentButton {
  //Display
  @extend .row;

  //Border
  @extend .b;

  //Width or/and Height
  @extend .w100;

  justify-content: center;

  span {
    @extend .tfsp3, .text-w3;

    line-height: 3.0rem;
    text-align: center;
    height: 3.2rem;
  }
}

.commentBox {
  //Display
  @extend .row;

  //Width or/and Height
  @extend .w100;

  //Scroll
  @extend .transparentScroll;

  justify-content: center;
  border: dashed thin rgb(255, 255, 255, 0.3);
  height: 4.7rem;
  
  &:hover, &:focus {
    border: solid thin rgb(255, 255, 255, 1);
  }

  .opened &
  {
    height: 14.2rem;
    cursor: text;
  }
}
