@import "../../../sass/global";

:host {
  @extend .bt;
}

.actionButton {
  display: flex;
  width: 100%;
  justify-content: center;
  border: none;

  span {
    font-size: 2rem;
    font-weight: 300;
    height: 3.2rem;
  }
}

.commentBox {
  display: flex;
  width: 100%;
  justify-content: center;
  //border: none;
  border: dashed thin rgb(255, 255, 255, 0.3);
  height: 4.7rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &:hover, &:focus {
    border: solid thin rgb(255, 255, 255, 1);
  }

  .opened &
  {
    height: 14.2rem;
    cursor: text;
  }
}
