@import "../../../sass/global";

:host
{
  border-top: #171717 solid 0.2rem;
  @extend .mr-5, .ml-2;
}

.button
{
  display: flex;
  width: 100%;
  justify-content: center;
  border: none;

  span
  {
    font-size: 2rem;
    font-weight: 300;
    height: 3.2rem;
  }
}

.commentBox
{
  display: flex;
  width: 100%;
  justify-content: center;
  border: none;
  height: 4.7rem;
  transition: all 0.4s ease;
  &:hover, &:focus
  {
    height: 10.5rem;
    border: none;
  }
}
