<div (click)="closeWindow()" class="background"></div>
<div class="window" [style.top]="top" [style.left]="left" [style.right]="right">
  <logotype (click)="closeWindow()" top="-20.5" />
  <div class="windowContainer">
    <div class="windowHeader">
      <div class="windowHeaderContainer">
        <div class="windowHeaderTitleContainer">
          <span class="pointerFocus">{{ windowTitle }}</span>
        </div>
      </div>
    </div>
    <div class="windowContent scrollable">
      <div class="content">
        <div class="row mt-2">
          <div class="column s100 mr-2 f-as">
            <div class="pb-2">Name</div>
            <input #taskNameInput class="input-text" id="taskInput" placeholder="Enter the name of your task" type="text" [keyboardClick]="1" (keydown)="onKeyDown($event)">
          </div>
          <div class="column ml-2 f-ac">
            <div class="pb-2">Date</div>
            <btn-calendar #datePicker [keyboardClick]="2" (click)="openDueDateWindow()" />
          </div>
        </div>
        <btn-normal #button [disabled]="!buttonIsEnabled" color="orange" text="Create" (click)="createTask()" [keyboardClick]="14" />
      </div>
    </div>
    <div class="windowFooter">
      <div class="windowFooterContainer">
        <div class="windowFooterTitleContainer">
          <span class="pointerFocus"><a href="https://github.com/ArcticLeopard/Freezbe" target="_blank">Freezbe is Free & Open Source</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
