@import "../../../sass/global";

.comment {
  user-select: text;
}

.commentDetails
{
  display: flex;
  flex-direction: row;
  span
  {
    @extend .pr-3;
  }
  .Author
  {
    @extend .pl-3;
  }

  .Date
  {
    opacity: 25%;
  }
}
