<menu-sidebar resizer />
<menu-task activeArea context="tasks" resizer />
<menu-detail *ngIf="viewState.taskDetailsOpen.Value" activeArea context="details" />
<window-add-workspace name="Add a workspace" width="43" height="36.8" inMiddle="true" backgroundType="background-with-blur" />
<window-color-picker inMiddle="true" width="43" backgroundType="background" />
<window-project name="Project" width="29" height="40" minWidth="20" minHeight="18" heightResizing />
<window-due-date name="Calendar" width="29" height="31.5" minHeight="31.5" />
