@import "../../../../imports";

:host {
  position: absolute;
  z-index: 99;
}

.window {
  @extend .tfs-m-2;
  @extend .tr-ae-02;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5), 0 4px 50px rgba(0, 0, 0, 0.6);
  background-color: $dark;
  opacity: 0.98;
  border: 0.05rem solid $white-30;

  &:hover {
    background-color: darken($dark, 1%);
    border: 0.05rem solid $white;
    outline: 0.05rem solid $white-20;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1), 0 4px 50px rgba(0, 0, 0, 1);
  }

  border-radius: 1.4rem;
}

.windowContainer {
  //Dislay
  position: relative;
  @extend .column;

  //Width or/and Height
  @extend .s100;

  overflow: hidden;
}

.windowContent {
  //Width or/and Height
  @extend .s100;

  &.scrollable {
    @extend .hiddenScroll;
  }
}

.windowHeaderContainer {
  //Display
  @extend .row;

  //Width or/and Height
  @extend .s100;

  //Paddings
  @extend .px-4;

  align-items: center;
  flex: 1;
  justify-content: flex-start;
}

.windowHeader {
  //Display
  @extend .row;

  //Width or/and Height
  @extend .w100;

  //Borders
  @extend .bb;

  height: 4rem;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.windowHeaderTitleContainer {
  //Display
  @extend .row;

  //Width or/and Height
  @extend .s100;

  @extend .tfw-6;

  @extend .center;
}
