@import "../../../imports";

:host {
  @extend .sidebarScroll, .h100;
}

.section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
}

.project {
  @extend .section, .px-6, .hl, .bg-gray-dark, .pointer, .tfs-m-1;

  svg {
    @extend .tr-ae-12;
  }

  &:hover svg {
    rotate: 360deg;
  }
}

.icon {
  min-width: 2rem;
  min-height: 2rem;
}

.text {
  @extend .pl-4, .py-1;
  @extend .text-nowrap;
  @include text-sizer(2);
}
