@import "../../../sass/globalFeatures";

:host {
  @extend .scrollWrapper;
}

.section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
}

.header {
  @extend .section, .px-3, .text-w6, .pointer, .my-1;
}

.header > .icon {
  min-width: 1.8rem;
  min-height: 1.8rem;
}

.header > .text {
  @extend .pl-1;
}

.project {
  @extend .section, .px-6, .hl, .bg-gray-dark, .pointer, .tfs-m-1;

  svg {
    @extend .tr-ae-12;
  }

  &:hover svg {
    rotate: 360deg;
  }
}

.project > .icon {
  min-width: 2rem;
  min-height: 2rem;
}

.project > .text {
  @extend .pl-4, .py-1;
  @extend .text-no-wrap;
}
