@import "../../../../imports";

$widthWorkSpace: 10rem;
$workspaceMenuElementSize: (10 * $distance);

:host {
  //Transitions
  @extend .tr-w-05;

  //Borders
  @extend .br;

  //Flex
  @extend .column;

  //Scrolls
  @extend .sidebarScroll;

  //Paddings
  @extend .py-2;

  //Spaces
  @extend .h100;

  @extend .panelArea;
  width: $widthWorkSpace;

  &.isHide {
    width: $distance;

    &:hover {
      width: $widthWorkSpace;
    }
  }

  &:hover {
    svg {
      fill: $white;
    }

    .workspaceMenuElementIcon {
      box-shadow: 0 0 0 .2rem $white-05;
    }
  }
}

.workspaceMenuElement {
  //Flex
  @extend .column, .center;

  //Transitions
  @extend .tr-ae-03;

  //Paddings
  @extend .py-1, .pl-1;

  //Cursors
  @extend .pointer;

  .workspaceMenuElementIcon {
    //Flex
    @extend .row, .center, .b;

    //Transitions
    @extend .tr-ae-04;

    //Text
    @extend .tfw-6;

    color: $black;
    width: $workspaceMenuElementSize;
    height: $workspaceMenuElementSize;
    margin: 0.2rem 0;
    border-radius: 1.2rem;

    img {
      border-radius: inherit;
    }
  }

  .workspaceMenuElementText {
    //Text
    @extend .tfs-m-5, .tfw-6, .text-prewrap, .text-center;

    //Cursors
    @extend .pointer;

    height: 2.8rem;
    padding: 0.2rem 0.6rem 0;
  }

  &:hover {
    color: hsl(225, 9%, (82% + 10));

    .workspaceMenuElementIcon {
      box-shadow: 0 0 0 .3rem $white-30;

      &:hover {
        box-shadow: 0 0 0 .4rem $white-60
      }
    }
  }

  border-left: solid 0.2rem $dark;

  &.active {
    color: $white;
    border-left: solid 0.2rem $white;
  }
}
