<div *ngFor="let workspace of viewState.workspaces.Values" [title]="'Workspace: '+workspace.name" class="workspaceMenuElement" [class.active]="workspace === viewState.workspace.Value" (click)="appNavigator.GoToWorkspace(workspace.id)">
  <div [style.background]="workspace.color ?? GlobalSettings.defaultWorkspaceBackgroundColor" class="workspaceMenuElementIcon">
    <img *ngIf="workspace.imageUrl" [src]="workspace.imageUrl" alt>
    <span *ngIf="!workspace.imageUrl">{{ workspace.name | slice:0:2 }}</span>
  </div>
  <span class="workspaceMenuElementText">
    {{ workspace.name }}
	</span>
</div>
<div title="Add a workspace" class="workspaceMenuElement pt-1" (click)="interactionService.openAddWorkspaceWindow()">
  <div class="workspaceMenuElementIcon">
    <svg width="28" height="28" viewBox="0 0 28 28" fill="#ABABAB">
      <path d="M12.214,12.214l-7.214,0c-0.552,0 -1,0.448 -1,1l0,1.572c0,0.552 0.448,1 1,1l7.214,-0l0,7.214c0,0.552 0.448,1 1,1l1.572,-0c0.552,-0 1,-0.448 1,-1l-0,-7.214l7.214,-0c0.552,-0 1,-0.448 1,-1l0,-1.572c0,-0.552 -0.448,-1 -1,-1l-7.214,0l-0,-7.214c-0,-0.552 -0.448,-1 -1,-1l-1.572,-0c-0.552,-0 -1,0.448 -1,1l0,7.214Z" />
    </svg>
  </div>
</div>
