$light-bg: #FBFCFC;
$light-text: #000000;
$dark-bg: #171717;
$dark-text: #E3E3E3;
$space-text: hsl(225, 9%, 82%);
$border-color: rgba(72, 72, 74, 0.5);
$scroll-color: rgba(43, 45, 48, 0.5);

.bg-red-hd-o-6 {
  background-color: rgba(220, 53, 69, 0.6);
  transition: background-color 0.5s ease;
}

.bg-red-hd-o-6:hover {
  background-color: rgba(189, 33, 48, 0.6);
}

.bg-orange-hd-o-6 {
  background-color: rgba(253, 126, 20, 0.6);
  transition: background-color 0.5s ease;
}

.bg-orange-hd-o-6:hover {
  background-color: rgba(220, 101, 2, 0.6);
}

.bg-classic {
  background-color: #2c2d30;
}

.bg-classic-hl {
  background-color: #2c2d30;
  transition: background-color 0.5s ease;
}

.bg-classic-hl:hover {
  background-color: #44464b;
}

.bg-classic-hd {
  background-color: #2c2d30;
  transition: background-color 0.5s ease;
}

.bg-classic-hd:hover {
  background-color: #141415;
}

//
//
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$classic: #2c2d30;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray,
  gray-dark: $gray-dark,
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  classic: $classic,
);

@each $name, $color in $colors {
  .bg-#{""+$name} {
    background-color: $color;
  }
}

//  @each $name, $color in $colors {
//    @for $i from 0 through 10 {
//      $opacity: $i / 10;
//      .bg-#{$name}-o-#{$i} {
//        background-color: rgba(red($color), green($color), blue($color), $opacity);
//      }
//    }
//  }
//
//  .bg-#{""+$name}-hd {
//    background-color: $color;
//    transition: background-color 0.5s ease;
//
//    &:hover {
//      background-color: darken($color, 10%);
//    }
//  }
//
//  @each $name, $color in $colors {
//    @for $i from 0 through 10 {
//      $opacity: $i / 10;
//      .bg-#{$name}-hd-o-#{$i} {
//        $currentColor: rgba(red($color), green($color), blue($color), $opacity);
//        background-color: $currentColor;
//        transition: background-color 0.5s ease;
//
//        &:hover {
//          background-color: darken($currentColor, 10%);
//        }
//      }
//    }
//  }
//
//  .bg-#{""+$name}-hl {
//    background-color: $color;
//    transition: background-color 0.5s ease;
//
//    &:hover {
//      background-color: lighten($color, 10%);
//    }
//  }
//
//  @each $name, $color in $colors {
//    @for $i from 0 through 10 {
//      $opacity: $i / 10;
//      .bg-#{$name}-hl-o-#{$i} {
//        $currentColor: rgba(red($color), green($color), blue($color), $opacity);
//        background-color: $currentColor;
//        transition: background-color 0.5s ease;
//
//        &:hover {
//          background-color: lighten($currentColor, 10%);
//        }
//      }
//    }
//  }
//}
