@mixin activeColor($currentColor) {
  background-color: $currentColor;
  color: inherit;
  &.hd {
    transition: all 0.5s ease;

    &:hover, &:focus {
      background-color: darken($currentColor, 10%);

      &.focus {
        box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
      }
    }

    &:active {
      color: rgba(255, 255, 255, 1);
      &.focus {
        transition: all 0.2s ease;
        box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 1);
      }
    }
  }

  &.hl {
    transition: all 0.5s ease;

    &:hover, &:focus {
      background-color: lighten($currentColor, 10%);

      &.focus {
        box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
      }
    }

    &:active {
      color: rgba(255, 255, 255, 1);
      &.focus {
        transition: all 0.2s ease;
        box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 1);
      }
    }
  }
}

$light-bg: #FBFCFC;
$light-text: #000000;
$dark-bg: #171717;
$dark-text: hsl(225, 9%, 82%);
$border-color: rgba(72, 72, 74, 0.5);
$scroll-color: rgba(43, 45, 48, 0.5);

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$fire: #ff5428;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;

$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$classic: #2c2d30;
$classicDark: #232426;

.bg-red-o6 {
  @include activeColor(rgba($red, 0.6))
}

.bg-orange-o6 {
  @include activeColor(rgba($orange, 0.6))
}

.text-orange {
  color: $orange;
}

.text-fire {
  color: $fire;
}

.text-gray {
  color: $gray;
}

//.bg-classic{ @include activeColor(rgba($classic, 1)) }
.bg-classic {
  @include activeColor(rgba($classic, 0.6))
}

.bg-classicDark {
  @include activeColor(rgba($classicDark, 0.6))
}

.bg-dark-bg {
  @include activeColor(rgba($dark-bg, 0.6))
}

//.bg-classic{ @include activeColor(rgba($classicDark, 1)) }

//$colors: (
//  blue: $blue,
//  indigo: $indigo,
//  purple: $purple,
//  pink: $pink,
//  red: $red,
//  orange: $orange,
//  yellow: $yellow,
//  green: $green,
//  teal: $teal,
//  cyan: $cyan,
//  white: $white,
//  gray: $gray,
//  gray-dark: $gray-dark,
//  primary: $primary,
//  secondary: $secondary,
//  success: $success,
//  info: $info,
//  warning: $warning,
//  danger: $danger,
//  light: $light,
//  dark: $dark,
//  classic: $classic,
//)
//
//@each $name, $color in $colors {
//  .bg-#{""+$name} {
//    background-color: $color;
//  }
//}

//  @each $name, $color in $colors {
//    @for $i from 0 through 10 {
//      $opacity: $i / 10;
//      .bg-#{$name}-o-#{$i} {
//        background-color: rgba(red($color), green($color), blue($color), $opacity);
//      }
//    }
//  }
//
//  .bg-#{""+$name}-hd {
//    background-color: $color;
//    transition: background-color 0.5s ease;
//
//    &:hover {
//      background-color: darken($color, 10%);
//    }
//  }
//
//  @each $name, $color in $colors {
//    @for $i from 0 through 10 {
//      $opacity: $i / 10;
//      .bg-#{$name}-hd-o-#{$i} {
//        $currentColor: rgba(red($color), green($color), blue($color), $opacity);
//        background-color: $currentColor;
//        transition: background-color 0.5s ease;
//
//        &:hover {
//          background-color: darken($currentColor, 10%);
//        }
//      }
//    }
//  }
//
//  .bg-#{""+$name}-hl {
//    background-color: $color;
//    transition: background-color 0.5s ease;
//
//    &:hover {
//      background-color: lighten($color, 10%);
//    }
//  }
//
//  @each $name, $color in $colors {
//    @for $i from 0 through 10 {
//      $opacity: $i / 10;
//      .bg-#{$name}-hl-o-#{$i} {
//        $currentColor: rgba(red($color), green($color), blue($color), $opacity);
//        background-color: $currentColor;
//        transition: background-color 0.5s ease;
//
//        &:hover {
//          background-color: lighten($currentColor, 10%);
//        }
//      }
//    }
//  }
//}
