/*#region Imports*/
@import "mixins.scss";
@import "colors.scss";
/*#endregion Imports*/

/*#region Variables*/
$border-style: 0.05rem solid $border-color;
$normal-font-size: 1.6rem;
/*#endregion Variables*/

/*#region Borders*/
.b { border: $border-style }
.bt { border-top: $border-style }
.br { border-right: $border-style }
.bb { border-bottom: $border-style }
.bl { border-left: $border-style }
/*#endregion Borders*/

/*#region Text Font Size*/
.tfs
{
  font-size: $normal-font-size;
}

@for $i from 1 through 9 {
  .tfsp#{$i} {
    font-size: $normal-font-size + ($i * 0.1);
  }
}

@for $i from 1 through 9 {
  .tfsm#{$i} {
    font-size: $normal-font-size - ($i * 0.1);
  }
}
/*#endregion Text Font Size*/

/*#region Scrolls*/
.basicScroll
{
  overflow-y: scroll;
  scrollbar-width: thin;
}

.sidebarScroll
{
  @extend .basicScroll;
  scrollbar-color: $scroll-color transparent;
}

.whiteScroll
{
  @extend .basicScroll;
  scrollbar-color: rgb(255, 255, 255, 0.1) transparent;
}

.hiddenScroll
{
  overflow-y: hidden;
}

.transparentScroll
{
  @extend .basicScroll;
  scrollbar-color: transparent transparent;
}
/*#endregion Scrolls*/

@for $index from 0 through $range {
  .sectionInfoContainer-#{$index} {
    @include maxSpace;
    @extend .px-#{$index};
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

.scrollWrapper {
  height: 100%;
  @extend .basicScroll;
}

.pointer {
  cursor: pointer;
}

.pointerFocus
{
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover{
    color: rgb(255, 255, 255, 0.85);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.05);
  }
  &:active{
    color: rgb(255, 255, 255, 1);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.35);
  }
}

.svgSize
{
  width: 2.8rem;
  height: 2.8rem;
}

.infoHeader {
  @extend .bb;
  width: 100%;
  height: 5.6rem;
  display: flex;
  flex: 0 0 auto;
}

svg
{
  transition: fill 0.3s ease;
  cursor: pointer;
  fill-rule:evenodd;
}

svg:hover
{
  fill: hsl(0, 0%, 82%);
}

.text-w6
{
  font-weight: 600;
}

.text-no-wrap
{
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div {
  //border: 1px dotted white;
}
