@import "mixins.scss";
@import "colors.scss";

$normal-font-size: 1.6rem;
$border-style: 0.05rem solid $border-color;
.b { border: $border-style }
.bt { border-top: $border-style }
.br { border-right: $border-style }
.bb { border-bottom: $border-style }
.bl { border-left: $border-style }

.container
{
  @include maxSpace;
  display: flex;
  flex-wrap: wrap;
}

.infoHeader {
  @extend .bb;
  width: 100%;
  height: 5.6rem;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.normalScroll
{
  overflow-y: scroll;
  scrollbar-width: thin;
}

.sidebarScroll
{
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $scroll-color transparent;
}

.whiteScroll
{
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255, 0.1) transparent;
}

.hiddenScroll
{
  overflow-y: hidden;
}

.transparentScroll
{
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

@for $index from 0 through $range {
  .sectionInfoContainer-#{$index} {
    @include maxSpace;
    @extend .pl-#{$index}, .pr-#{$index};
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

.sectionInfoTextContainer {
  font-size: $normal-font-size + 0.2;
}

.scrollWrapper {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.text-details {
  font-size: $normal-font-size - 0.4;
}

.pointer {
  cursor: pointer;
}

.pointerFocus
{
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover{
    color: rgb(255, 255, 255, 0.85);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.05);
  }
  &:active{
    color: rgb(255, 255, 255, 1);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.35);
  }
}

.svgSize
{
  width: 2.8rem;
  height: 2.8rem;
}

svg
{
  transition: fill 0.3s ease;
  cursor: pointer;
  fill-rule:evenodd;
}

svg:hover
{
  fill: hsl(0, 0%, 82%);
}

.text-w6
{
  font-weight: 600;
}

.text-no-wrap
{
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div {
  //border: 1px dotted white;
}
