/*#region Imports*/
@import "mixins.scss";
@import "colors.scss";
/*#endregion Imports*/

/*#region Variables*/
$normal-font-size: 1.6rem;
$range: 9;
$bs-sot: 0.05rem solid;
$bs-dot: 0.05rem dotted;
$bs-dat: 0.05rem dashed;
/*#endregion Variables*/

/*#region Borders*/
.b {
  border: $bs-sot $classicBorder;
}

.bt {
  border-top: $bs-sot $classicBorder;
}

.br {
  border-right: $bs-sot $classicBorder;
}

.bb {
  border-bottom: $bs-sot $classicBorder;
}

.bl {
  border-left: $bs-sot $classicBorder;
}

.bx {
  border-top: $bs-sot $classicBorder;
  border-bottom: $bs-sot $classicBorder;
}

.by {
  border-left: $bs-sot $classicBorder;
  border-right: $bs-sot $classicBorder;
}

/*#endregion Borders*/

/*#region Text Font Size*/
.tfs {
  font-size: $normal-font-size;
}

@for $i from 1 through $range {
  .tfs-p-#{$i} {
    font-size: $normal-font-size + ($i * 0.1);
  }
}

@for $i from 1 through $range {
  .tfs-m-#{$i} {
    font-size: $normal-font-size - ($i * 0.1);
  }
}

/*#endregion Text Font Size*/

/*#region Scrolls*/
.basicScroll {
  overflow-y: scroll;
  scrollbar-width: thin;
}

.sidebarScroll {
  @extend .basicScroll;
  scrollbar-color: $classicScroll transparent;
}

.whiteScroll {
  @extend .basicScroll;
  scrollbar-color: $white-10 transparent;
}

.hiddenScroll {
  overflow-y: hidden;
}

.transparentScroll {
  @extend .basicScroll;
  scrollbar-color: transparent transparent;
}

/*#endregion Scrolls*/

/*#region Margins*/
@for $index from 0 through $range {
  .mt-#{$index} {
    margin-top: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .mb-#{$index} {
    margin-bottom: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .ml-#{$index} {
    margin-left: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .mr-#{$index} {
    margin-right: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .mx-#{$index} {
    margin-left: 0.35rem * $index;
    margin-right: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .my-#{$index} {
    margin-top: 0.35rem * $index;
    margin-bottom: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .m-#{$index} {
    margin: 0.35rem * $index;
  }
}

/*#endregion Margins*/

/*#region Paddings*/
@for $index from 0 through $range {
  .pt-#{$index} {
    padding-top: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .pb-#{$index} {
    padding-bottom: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .pl-#{$index} {
    padding-left: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .pr-#{$index} {
    padding-right: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .px-#{$index} {
    padding-left: 0.35rem * $index;
    padding-right: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .py-#{$index} {
    padding-top: 0.35rem * $index;
    padding-bottom: 0.35rem * $index;
  }
}

@for $index from 0 through $range {
  .p-#{$index} {
    padding: 0.35rem * $index;
  }
}

/*#endregion Paddings*/

.sectionInfoContainer {
  @extend .wh100;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.scrollWrapper {
  @extend .sidebarScroll, .h100;
}

.pointer {
  cursor: pointer;
}

.pointerFocus {
  @extend .tr-ae-04;
  cursor: pointer;

  &:hover {
    color: $white-85;
    text-shadow: 0 0 3px $white-05;
  }

  &:active {
    color: $white;
    text-shadow: 0 0 3px $white-35;
  }
}

.svgSize {
  width: 2.8rem;
  height: 2.8rem;
}

.infoHeader {
  @extend .bb, .w100;
  height: 5.6rem;
  display: flex;
  flex: 0 0 auto;
}

svg {
  @extend .tr-fe-03;
  cursor: pointer;
  fill-rule: evenodd;
}

.text-w3 {
  font-weight: 300;
}

.text-w6 {
  font-weight: 600;
}

.text-w9 {
  font-weight: 900;
}

.text-no-wrap {
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.wh100 {
  @extend .w100, .h100;
}

div {
  //border: 1px dotted white;
}

$ae: all ease;

.tr-ae-12 {
  transition: $ae 1.2s;
}

.tr-ae-06 {
  transition: $ae .6s;
}

.tr-ae-05 {
  transition: $ae .5s;
}

.tr-ae-04 {
  transition: $ae .4s;
}

.tr-ae-03 {
  transition: $ae .3s;
}

.tr-ae-02 {
  transition: $ae .3s;
}

.tr-w-05 {
  transition: width 0.5s;
}

.tr-fe-03 {
  transition: fill 0.3s ease;
}

