@import "variables.scss";

/*#region Paddings*/
@for $index from 0 through $range {
  .pt-#{$index} {
    padding-top: $distance * $index;
  }
}

@for $index from 0 through $range {
  .pb-#{$index} {
    padding-bottom: $distance * $index;
  }
}

@for $index from 0 through $range {
  .pl-#{$index} {
    padding-left: $distance * $index;
  }
}

@for $index from 0 through $range {
  .pr-#{$index} {
    padding-right: $distance * $index;
  }
}

@for $index from 0 through $range {
  .px-#{$index} {
    padding-left: $distance * $index;
    padding-right: $distance * $index;
  }
}

@for $index from 0 through $range {
  .py-#{$index} {
    padding-top: $distance * $index;
    padding-bottom: $distance * $index;
  }
}

@for $index from 0 through $range {
  .p-#{$index} {
    padding: $distance * $index;
  }
}

/*#endregion Paddings*/
