<menu-sidebar resizer />
<menu-task activeArea context="tasks" resizer />
<menu-detail activeArea context="details" />
<window-add-workspace centre="true" backgroundType="background" windowTitle="Add a workspace" />
<window-add-project backgroundType="background" centre="true" windowTitle="Add a project" />
<window-add-task centre="true" windowTitle="Add a task" />
<window-edit backgroundType="background" />
<window-project backgroundType="background" />
<window-due-date backgroundType="background" />
<window-color-picker backgroundType="background" />
<window-rename backgroundType="background" />
<window-message-box backgroundType="background" />
<window-choose-action backgroundType="background" />
<window-show-shortcuts backgroundType="background" />
<window-sync backgroundType="background" centre="true" windowTitle="Server Synchronization" />
<window-comment-menu />
