<div class="header">
  <div class="ml-3 sectionInfoContainer-0 transparentScroll">
    <div class="tfsp2">
      <span class="ml-1 pointerFocus">Space Name</span><!--   TODO Rozwijanie menu na klikniecie   -->
    </div>
    <btn-placeholder></btn-placeholder>
  </div>
</div>
<div class="header">
  <btn-big text="Priority" number="15" activeColor="redButton"></btn-big>
  <btn-big text="Incoming" number="2" activeColor="orangeButton"></btn-big>
</div>
<app-active-projects></app-active-projects>

