<div class="infoHeader">
  <div class="ml-3 sectionInfoContainer-0 plusHiddenScroll">
    <div class="sectionInfoTextContainer">
      <span class="ml-1 pointerFocus">Space Name</span><!--   TODO Rozwijanie menu na klikniecie   -->
    </div>
    <btn-placeholder></btn-placeholder>
  </div>
</div>
<div class="infoHeader">
  <div class="sectionInfoContainer-0 ">
    <div class="pl-3 pointer bigBtn bg-red-o6 hd focus">
      <div>
        Priority
      </div>
      <div class="text-details">
        15
      </div>
    </div>
    <div class="pl-3 pointer bigBtn bg-orange-o6 hd focus">
      <div>
        Incoming
      </div>
      <div class="text-details">
        2
      </div>
    </div>
  </div>
</div>
<div class="scrollWrapper">
  <div class="">
    <div class="project pointer px-3 bg-dark-bg hl" *ngFor="let index of projectIndexes; let i = index">
      <div>Project {{ index + 1 }}</div>
    </div>
  </div>
</div>

