<div class="infoHeader">
  <div class="ml-3 sectionInfoContainer-0 plusHiddenScroll">
    <div class="sectionInfoTextContainer">
      <span class="ml-1 pointerFocus">Space Name</span><!--   TODO Rozwijanie menu na klikniecie   -->
    </div>
    <span class="svgSize">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="#ABABAB" style="fill-rule: evenodd;"><path d="M28,3.36c0,-1.854 -1.506,-3.36 -3.36,-3.36l-21.28,0c-1.854,0 -3.36,1.506 -3.36,3.36l0,21.28c0,1.854 1.506,3.36 3.36,3.36l21.28,0c1.854,0 3.36,-1.506 3.36,-3.36l0,-21.28Zm-1.5,1.14c0,-1.655 -1.345,-3 -3,-3l-19,-0c-1.655,-0 -3,1.345 -3,3l-0,19c-0,1.655 1.345,3 3,3l19,0c1.655,0 3,-1.345 3,-3l0,-19Z"/><title>Place Holder</title></svg>
    </span>
  </div>
</div>
<div class="infoHeader">
  <div class="sectionInfoContainer-0 plusHiddenScroll">
    <div class="pl-3 pointer bigBtn bg-red-o6 hd focus">
      <div>
        Priority
      </div>
      <div class="text-details">
        15
      </div>
    </div>
    <div class="pl-3 pointer bigBtn bg-orange-o6 hd focus">
      <div>
        Incoming
      </div>
      <div class="text-details">
        2
      </div>
    </div>
  </div>
</div>
<div class="scrollWrapper">
  <div class="">
    <div class="project pointer pr-3 pl-3 bg-dark-bg hl" *ngFor="let index of projectIndexes; let i = index">
      <div>Project {{ index + 1 }}</div>
    </div>
  </div>
</div>

