@import "../../../imports";

:host {
  @include shadow(darken($classicDark, 2%));
  @extend .tr-ae-04;
  height: 5.3rem;
  display: flex;
  margin: 0.2rem 0 0.2rem 0.2rem;
}

.task-container {
  //Width or/and Height
  @extend .s100;

  @extend .px-4, .pointer, .row, .bb;
  align-items: center;
  position: relative;
}

.task {
  @extend .mx-5, .w100;
}

.task-header {
  @extend .row, .pointerFocus;
}

.task-name {
  flex-shrink: 0;
  @include text-sizer();
}

.task-details {
  @extend .row, .pt-2;
}

.detail {
  @extend .tfs-m-4, .pr-6;
  flex-shrink: 0;

  .text-detail {
    @extend .pl-2;
    @extend .text-gray;
    @include text-sizer(4)
  }

  .icon {
    @extend .text-gray;
  }

  &.delay {
    .text-detail, .icon {
      @extend .text-fire;
    }
  }
}

.completed {
  @extend .text-gray;

  .task-name {
    text-decoration: line-through;
  }
}

.tests {
  background: red !important;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
