@import "../../../../imports";

:host {
  //Display
  @extend .column;

  //Borders
  @extend .bl;

  //Width or/and Height
  @extend .h100;

  flex: 1 0 31.5rem;
}

.header {
  @extend .pl-3, .pr-4, .infoHeader, .transparentScroll;
}

.comment {
  user-select: text;
}

.commentDetails {
  display: flex;
  flex-direction: row;

  span {
    @extend .pr-3;
  }

  .Author {
    @extend .pl-3;
  }

  .Date {
    opacity: 25%;
  }
}
