<div (click)="closeWindow()" class="background"></div>
<div class="window" [style.top]="top" [style.left]="left" [style.right]="right">
  <logotype (click)="closeWindow()" top="-20.5" />
  <div class="windowContainer">
    <div class="windowHeader">
      <div class="windowHeaderContainer">
        <div class="windowHeaderTitleContainer">
          <span class="pointerFocus">{{ windowTitle }}</span>
        </div>
      </div>
    </div>
    <div class="windowContent scrollable">
      <div class="content">
        <div class="row mt-2">
          <div class="column s100 mr-2 f-as">
            <div class="pb-2">Name</div>
            <input #projectNameInput class="input-text" id="projectInput" placeholder="Enter the name of your project" type="text" [keyboardClick]="1" (keydown)="onKeyDown($event)" autocomplete="off">
          </div>
          <div class="column ml-2 f-ac">
            <div class="pb-2">Color</div>
            <div class="colorPicker colorPickerAnimation" (click)="openColorPickerWindow()" #colorPicker [keyboardClick]="2"></div>
          </div>
        </div>
        <btn-normal #button [disabled]="!buttonIsEnabled" color="orange" text="Create" (click)="createProject()" [keyboardClick]="14" />
      </div>
    </div>
    <div class="windowFooter">
      <div class="windowFooterContainer">
        <div class="windowFooterTitleContainer">
          <span class="pointerFocus my-1"><a href="https://youtu.be/-qko_WBh-is" target="_blank">Youtube: What Freezbe Is?</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
