@import "../../../../imports";

:host {
  @extend .tr-w-08;
  width: 40rem;
  display: flex;
  overflow: visible;

  &.isHideAnimated {
    width: 0;
    //overflow: hidden;
  }

  &.isHide {
    display: none;
  }
}


