@import "../../../../imports";

:host {
  @extend .tr-w-08;
  width: 42rem;
  display: flex;
  overflow: visible;

  &.isHideAnimated {
    width: 0;
    //overflow: hidden;
  }

  &.isHide {
    display: none;
  }

  @media (max-width: 430px) {
    width: 32.5rem;
  }
}


