@import "../../../../imports";

:host {
  display: flex;

  &.isHideAnimated {
    @extend .tr-w-08;
    width: 0;
    overflow: hidden;
  }

  &.isHide {
    display: none;
  }
}

@media (min-width: 1340px) {
  :host {
    width: 40rem;
  }
}
